# Environment files (KHÔNG PUSH)
.env
.env.*
venv/
.venv/
venv_eval/
env/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets / keys (KHÔNG PUSH)
*.pem
*.key
*.crt
credentials.json

# Logs (optional)
*.log

models/java-codellama-lora
wandb/
bigcode-evaluation-harness/
main/__pycache__/
bigcode-evaluation-harness
final_codellama_ckpt352
train/__pycache__/
model.safetensors
evaluate/__pycache__/
inference/__pycache__/
merge/__pycache__/
**/__pycache__/
test.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.mypy_cache/
*.egg-info/
dist/
build/

/peft-codellama
