# Environment files (KHÔNG PUSH)
.env
.env.*
venv/
.venv/
venv_eval/
env/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets / keys (KHÔNG PUSH)
*.pem
*.key
*.crt
credentials.json

# Logs (optional)
*.log

models/java-codellama-lora
wandb/

main/__pycache__/
bigcode-evaluation-harness
final_codellama_ckpt352